
* {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  background: black;
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  display: table;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 3em;
}

input {
  font-size: 1em;
  border-radius: 0.6em;
  border-width: 0;
}

button {
  font-size: 1em;
  background-color: white;
  border-style: solid;
  border-color: black;
  padding: 0.6em;
  border-radius: 0.6em;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  font-size: 12pt;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  max-width: 48em;
  overflow: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

li {
  margin: 0 auto;
  list-style-type: none;
}

.domination {
  width: 100%;
  height: 83vh;
}

.title,
.player-name {
  font-size: min(7vmin, 3em);
}

.iteration {
  font-size: min(7vmin, 2em);
}

button span,
.hud span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-tip {
  white-space: normal;
  position: absolute;
  z-index: 110;
  width: 10em;
  left: -2em;
}

.container {
  display: inline-block;
  height: 7vh;
  margin: 0 auto;
}

.hud {
  width: 100%;
  height: 20vh;
  text-align: center;
  vertical-align: middle;
  z-index: 100;
  background-color: black;
}

.chat {
  height: 18vh;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  z-index: 400;
  background-color: black;
}

.chat-history {
  text-align: left;
  color: black;
  border-radius: 0.5em;
  background-color: darkgray;
  height: 10vh;
  width: 100%;
  line-height: 1em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.chat-form {
  overflow: hidden;
}

.chat-form input {
  width: 85%;
  height: 7vh;
  border-radius: 0.5em;
}

.chat-form span {
  display: block;
  overflow: hidden;
}

.chat-form button {
  height: 7vh;
  width: 15%;
  float: right;
}

.chat-form input,
.chat-form button {
  box-sizing: border-box;
}

.incrementer {
  display: inline-block;
  margin: 0 auto;
}

.incrementer button,
.incrementer input {
  height: 7vh;
  width: 10vw;
  max-width: 3em;
  text-align: center;
  background-color: white;
}

.stack {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.stack-count {
  position: absolute;
  top: 2.5em;
  left: 0.1em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  font-size: 1.25em;
  color: white;
  border-radius: 1em;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.card {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 6em;
  padding: 0;
  border: 1px solid black;
}

.announce-input input {
  height: 7vh;
  width: 50vw;
}

.username-input input {
  height: 7vh;
  width: 50vw;
}

.connections {
  position: absolute;
  right: 1vw;
  bottom: 10vh;
  line-height: 7vh;
  height: 7vh;
  width: 7vh;
  border-radius: 4vh;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  font-size: 1.25em;
  color: white;
  background-color: black;
  opacity: 0.5;
}

.settings-button {
  background-color: black;
  float: right;
  width: 3em;
  border-radius: 3em;
  height: 7vh;
  padding: 0;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  line-height: 7vh;
}

.settings-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: black;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.settings-menu.showing {
  max-height: 100vh;
}

.settings-menu.collapsed {
  max-height: 0;
}

.new-game-button,
.load-game-button {
  height: 7vh;
}

.toggle-long-game {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-long-game input {
  -webkit-appearance: checkbox;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

.kingdom {
  overflow-y: scroll;
  height: 58vh;
}

.kingdom .inactive {
  background-color: rgb(120, 120, 120);
}

.settings-menu .back-button-container {
  display: flex;
}

.supply-toggle {
  display: inline-block;
  width: 25%;
  height: 100%;
  padding: 0;
}

.supply.collapsed {
  max-height: 0;
}

.supply.showing {
  max-height: 49vh;
}

.supply {
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  transition: max-height 0.5s ease;
  z-index: 100;
}

.hand {
  width: 100%;
  height: 29vh;
  font-size: 2.4vh;
  overflow-x: scroll;
  white-space: nowrap;
}

.card-text {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.2em;
  height: 1.55em;
  line-height: 1.55em;
}

.table {
  width: 100%;
  height: 20vh;
}

.play,
.buying {
  overflow-x: scroll;
  white-space: nowrap;
  font-size: 1.68vh;
  height: 20vh;
  display: inline-block;
  border-radius: 0.6em;
}

.play {
  width: 70%;
}

.buying {
  width: 30%;
}

.hand-title {
  position: absolute;
  font-size: 7vh;
  transform: rotate(-90deg) translate(-8vh, -3vh);
}

.play-title,
.buying-title {
  position: absolute;
  font-size: 6vh;
  transform: rotate(-90deg) translate(-6.4vh, -2.4vh);
  opacity: 0.8;
}

.card-name {
  display: flex;
  white-space: normal;
  border: none;
  border-radius: 0.6em;
  border-bottom: 0.1em solid;
  align-items: center;
  justify-content: center;
  min-height: 2.2em;
  line-height: 1em;
}

.hand-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6.7vh;
  font-size: 5vh;
  width: 100%;
}

.hand-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.supply .hand-info {
  width: 50%;
}

.hud .hand-info {
  width: 20%;
}

.card-cost {
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}

.card-cost:not(:empty) {
  border-top: 1px solid black;
  justify-content: flex-start;
  padding-left: 0.2em;
}

.curse-card .card-cost,
.curse-card .card-name {
  background-color: mediumpurple;
}

.curse-card .card-victory-points:not(:empty) {
  background: mediumpurple;
}

.treasure-card .card-cost,
.treasure-card .card-name {
  background-color: yellow;
}

.victory-card .card-cost,
.victory-card .card-name {
  background-color: lightgreen;
}

.action-card .card-cost,
.action-card .card-name {
  background-color: white;
}

.reaction-card .card-cost,
.reaction-card .card-name {
  background-color: lightblue;
}

.attack-card .card-cost,
.attack-card .card-name {
  background-color: rgb(255, 56, 56);
}

.treasure-card.victory-card .card-cost,
.treasure-card.victory-card .card-name {
  background-image: linear-gradient(yellow, lightgreen);
}

.victory-card.action-card .card-cost,
.victory-card.action-card .card-name {
  background-image: linear-gradient(lightgreen, white);
}

.active {
  background-color: white;
  color: black;
}

.active.waiting {
  background-color: rgb(120, 120, 120);
}

.controls {
  height: 7.3vh;
  width: 100%;
  max-width: 48em;
  z-index: 400;
}

.undo {
  display: inline-block;
  width: 15%;
  height: 100%;
  float: left;
  padding: 0;
}

.next-phase {
  display: inline-block;
  width: 60%;
  height: 100%;
  float: right;
  background-color: white;
  font-weight: bold;
  border-color: black;
  padding: 0;
  -webkit-animation: color_change 1s infinite alternate;
  -moz-animation: color_change 1s infinite alternate;
  -ms-animation: color_change 1s infinite alternate;
  -o-animation: color_change 1s infinite alternate;
  animation: color_change 1s infinite alternate;
}

@keyframes color_change {
  from { opacity: 1; }
  to { opacity: 0.5; }
}

.waiting .next-phase {
  background-color: rgb(120, 120, 120);
  font-weight: normal;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}

.to-keep {
  background-color: white;
}

.to-trash {
  background-color: rgb(255, 56, 56);
}

.hand.active .can-play.card {
  background-color: white;
}

.hand.inactive .can-play.card {
  background-color: lightgray;
}

.hand .cant-play.card {
  background-color: rgb(120, 120, 120);
}

.supply .cant-buy .card {
  background-color: rgb(120, 120, 120);
}

.supply.active {
  background-color: rgba(255, 255, 255, 0.25);
}

.supply.active .can-buy .card {
  background-color: white;
}

.supply.inactive {
  background-color: rgba(0, 0, 0, 0.25);
}

.supply.inactive .can-buy .card {
  background-color: lightgray;
}

.stats-container {
  height: 13vh;
  width: 100%;
  overflow-y: scroll;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.5em;
  width: 100%;
  background-color: black;
}

.current-player {
  width: 28%;
}

.current-player span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  line-height: 100%;
}

.stat {
  width: 18%;
  color: white;
}

.hand-info span,
.stat span,
.stat {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
  height: 100%;
  line-height: 100%;
}

.description .toggle {
  margin: 0;
  padding: 0.1em;
  width: 100%;
  text-decoration: underline;
}

.dialogue {
  position: fixed;
  overflow-y: scroll;
  left: 0;
  right: 0;
  top: 20vh;
  height: 49vh;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.8);
  padding: auto;
}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  background-repeat: no-repeat;
  background-position: center;
}

.chat-history .icon {
  width: 0.85em;
  height: 0.85em;
}

.hand-info .icon {
  width: 1em;
  height: 1em;
}

.icon.actions {
  background-color: orange;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -1 18 24"><g fill="none" fill-rule="evenodd"><path d="M-3-1h24v24H-3z"/><path fill="black" d="M10.49 4.48c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm-3.17 12l.57-2.5 2.1 2v5c0 .55.45 1 1 1s1-.45 1-1v-5.64c0-.55-.22-1.07-.62-1.45l-1.48-1.41.6-3a7.321 7.321 0 004.36 2.41c.6.09 1.14-.39 1.14-1 0-.49-.36-.9-.85-.98-1.52-.25-2.78-1.15-3.45-2.33l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L4.21 6.76a2.01 2.01 0 00-1.22 1.85v2.37c0 .55.45 1 1 1s1-.45 1-1v-2.4l1.8-.7-1.6 8.1-3.92-.8c-.54-.11-1.07.24-1.18.78V16c-.11.54.24 1.07.78 1.18l4.11.82a2 2 0 002.34-1.52z"/></g></svg>');
}

.icon.buys {
  background-color: saddlebrown;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 28 28" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="21" r="1"/><circle cx="20" cy="21" r="1"/><path d="M1 1h4l2.68 13.39a2 2 0 002 1.61h9.72a2 2 0 002-1.61L23 6H6"/></svg>');
}

.icon.cards {
  background-color: white;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="2 0 32 32"><path d="M27.316 10H24V7c0-1.654-1.346-3-3-3H11C9.346 4 8 5.346 8 7v15c0 1.654 1.346 3 3 3h5v.315C16 26.796 17.204 28 18.684 28h8.632C28.796 28 30 26.796 30 25.315v-12.63C30 11.204 28.796 10 27.316 10zM11 23c-.551 0-1-.448-1-1V7c0-.552.449-1 1-1h10c.551 0 1 .448 1 1v15c0 .552-.449 1-1 1H11z"/></svg>');
}

.icon.money {
  background-color: yellow;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" stroke="black" stroke-width="2" viewBox="-2 -2 54 54"><path d="M25 1C11.767 1 1 11.767 1 25s10.767 24 24 24 24-10.767 24-24S38.233 1 25 1zm0 46C12.869 47 3 37.131 3 25S12.869 3 25 3s22 9.869 22 22-9.869 22-22 22z"/><path d="M23 13h4c2.757 0 5 2.243 5 5h2c0-3.86-3.141-7-7-7h-1V8h-2v3h-1c-3.859 0-7 3.14-7 7v1c0 3.86 3.141 7 7 7h4c2.757 0 5 2.243 5 5v1c0 2.757-2.243 5-5 5h-4c-2.757 0-5-2.243-5-5h-2c0 3.86 3.141 7 7 7h1v3h2v-3h1c3.859 0 7-3.14 7-7v-1c0-3.86-3.141-7-7-7h-4c-2.757 0-5-2.243-5-5v-1c0-2.757 2.243-5 5-5z"/></svg>');
}

.icon.points {
  background-color: lightgreen;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" id="Icons" x="0" y="0" version="1.1" viewBox="0 0 32 32" xml:space="preserve"><style>.st0{fill:none;stroke:black;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}</style><path d="M25 6.7c-3.4 0-6.6-1.4-9-3.7-2.4 2.3-5.6 3.7-9 3.7-1.4 0-2.7-.3-4-.7 0 14 5.5 19.6 13 23 7.5-3.4 13-9 13-23-1.3.4-2.6.7-4 .7z" class="st0"/><path d="M16 9.5l1.5 4.5h4.7l-3.8 2.8 1.4 4.4-3.8-2.7-3.8 2.7 1.4-4.4L9.8 14h4.7z" class="st0"/></svg>');
}

.icon.settings {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><circle cx="16" cy="16" r="4" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M27.758 10.366l-1-1.732a2 2 0 00-2.732-.732l-.526.304c-2 1.154-4.5-.289-4.5-2.598V5a2 2 0 00-2-2h-2a2 2 0 00-2 2v.608c0 2.309-2.5 3.753-4.5 2.598l-.526-.304a2 2 0 00-2.732.732l-1 1.732a2 2 0 00.732 2.732l.526.304c2 1.155 2 4.041 0 5.196l-.526.304a2 2 0 00-.732 2.732l1 1.732a2 2 0 002.732.732l.526-.304c2-1.155 4.5.289 4.5 2.598V27a2 2 0 002 2h2a2 2 0 002-2v-.608c0-2.309 2.5-3.753 4.5-2.598l.526.304a2 2 0 002.732-.732l1-1.732a2 2 0 00-.732-2.732l-.526-.304c-2-1.155-2-4.041 0-5.196l.526-.304a1.999 1.999 0 00.732-2.732z"/></svg>');
}

.draw-attention {
  animation-name: shake;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0); }
  1% { transform: translate(-2px, -4px) rotate(-2deg); }
  2% { transform: translate(-5px, 0) rotate(2deg); }
  3% { transform: translate(5px, 4px) rotate(0deg); }
  4% { transform: translate(2px, -2px) rotate(2deg); }
  5% { transform: translate(-2px, 4px) rotate(-2deg); }
  6% { transform: translate(-5px, 2px) rotate(0); }
  7% { transform: translate(5px, 2px) rotate(-2deg); }
  8% { transform: translate(-2px, -2px) rotate(2deg); }
  9% { transform: translate(2px, 4px) rotate(0); }
  10% { transform: translate(2px, -4px) rotate(-2deg); }
  11% { transform: translate(0, 0) rotate(0); }
  100% { transform: translate(0, 0) rotate(0); }
}
